<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

<!-- Javascript Masked Input -->
  <script src="https://raw.githubusercontent.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js" type="text/javascript"></script>

  <script
     src="static/script.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
<h1>Create a Memo</h1>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form action="/_send_post" action="post">
             Date (MM/DD/YYYY)
             <input type="date" name="datef" id="datef" class="form-control" placeholder="MM/DD/YYYY" required autofocus>
             <br />
             Memo
             <input type="text" name="memof" class="form-control" placeholder="Insert memo here" required>
             <br />
             <button class="btn btn-lg btn-primary btn-block" type="submit">Submit </button>

            <script type="text/javascript">
            jQuery(function($){
               $("#datef").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
            });
            </script>

</form>
</div> 
</body>
</html>
